<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProductos" />
                <binding name="BasicHttpBinding_IServiceProveedor" />
                <binding name="BasicHttpBinding_IService_Usr" />
                <binding name="BasicHttpBinding_IGestion_User_Rol" />
                <binding name="BasicHttpBinding_IService_Pedidos" />
                <binding name="BasicHttpBinding_IService_Ofertas" />
                <binding name="BasicHttpBinding_IService_Ventas" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfService/ServiceProveedor/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceProveedor"
                contract="SrvRefProveedor.IServiceProveedor" name="BasicHttpBinding_IServiceProveedor" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfService/Service_Usr/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService_Usr"
                contract="SrvRef_Usr.IService_Usr" name="BasicHttpBinding_IService_Usr" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfService/Service_Productos/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductos"
                contract="WCF_Productos.IProductos" name="BasicHttpBinding_IProductos" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfService/Service_User_Rol/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGestion_User_Rol"
                contract="SrvRef_UsrRol.IGestion_User_Rol" name="BasicHttpBinding_IGestion_User_Rol" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfService/Service_Pedidos/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService_Pedidos"
                contract="SrvRef_Pedidos.IService_Pedidos" name="BasicHttpBinding_IService_Pedidos" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfService/Service_Ofertas/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService_Ofertas"
                contract="SrvRef_Ofertas.IService_Ofertas" name="BasicHttpBinding_IService_Ofertas" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfService/Service_Ventas/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService_Ventas"
                contract="SrvRef_Ventas.IService_Ventas" name="BasicHttpBinding_IService_Ventas" />
        </client>
    </system.serviceModel>
</configuration>