<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="App.Service1">
                <endpoint address="" binding="basicHttpBinding" contract="App.IService1">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/App/Service1/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
                <binding name="BasicHttpBinding_IService11" />
                <binding name="BasicHttpBinding_IService12" />
                <binding name="BasicHttpBinding_IService13" />
                <binding name="BasicHttpBinding_IService14" />
                <binding name="BasicHttpBinding_IService15" />
                <binding name="BasicHttpBinding_IService16" />
                <binding name="BasicHttpBinding_IService17" />
                <binding name="BasicHttpBinding_IService18" />
                <binding name="BasicHttpBinding_IService19" />
                <binding name="BasicHttpBinding_IService110" />
                <binding name="BasicHttpBinding_IService111" />
                <binding name="BasicHttpBinding_IService112" />
                <binding name="BasicHttpBinding_IService113" />
                <binding name="BasicHttpBinding_IService114" />
                <binding name="BasicHttpBinding_IService115" />
                <binding name="BasicHttpBinding_IService116" />
                <binding name="BasicHttpBinding_IService117" />
                <binding name="BasicHttpBinding_IService118" />
                <binding name="BasicHttpBinding_IService119" />
                <binding name="BasicHttpBinding_IService120" />
                <binding name="BasicHttpBinding_IService121" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
                contract="WFC_Service.IService1" name="BasicHttpBinding_IService1" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11"
                contract="ServiceReference1.IService1" name="BasicHttpBinding_IService11" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService12"
                contract="ServiceReference1.IService1" name="BasicHttpBinding_IService12" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService13"
                contract="ServiceReference1.IService1" name="BasicHttpBinding_IService13" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService14"
                contract="ServiceReference1.IService1" name="BasicHttpBinding_IService14" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService15"
                contract="ServiceReference1.IService1" name="BasicHttpBinding_IService15" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService16"
                contract="ServiceReference1.IService1" name="BasicHttpBinding_IService16" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService17"
                contract="ServiceReference1.IService1" name="BasicHttpBinding_IService17" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService18"
                contract="ServiceReference1.IService1" name="BasicHttpBinding_IService18" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService19"
                contract="ServiceReference1.IService1" name="BasicHttpBinding_IService19" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService110"
                contract="ServiceReference1.IService1" name="BasicHttpBinding_IService110" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService111"
                contract="ServiceReference1.IService1" name="BasicHttpBinding_IService111" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService112"
                contract="ServiceReference1.IService1" name="BasicHttpBinding_IService112" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService113"
                contract="ServiceReference1.IService1" name="BasicHttpBinding_IService113" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService114"
                contract="ServiceReference1.IService1" name="BasicHttpBinding_IService114" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService115"
                contract="ServiceReference1.IService1" name="BasicHttpBinding_IService115" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService116"
                contract="ServiceReference1.IService1" name="BasicHttpBinding_IService116" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService117"
                contract="ServiceReference1.IService1" name="BasicHttpBinding_IService117" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService118"
                contract="service_1.IService1" name="BasicHttpBinding_IService118" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService119"
                contract="ServiceReference1.IService1" name="BasicHttpBinding_IService119" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService120"
                contract="ServiceReference1.IService1" name="BasicHttpBinding_IService120" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService121"
                contract="ServiceReference1.IService1" name="BasicHttpBinding_IService121" />
        </client>
    </system.serviceModel>


  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\logs\TracesServ_ce.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  
  
</configuration>
