<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
                <binding name="BasicHttpBinding_IProductos" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
                contract="WCF_Service.IService1" name="BasicHttpBinding_IService1" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfService/Service_Productos/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductos"
                contract="WCF_Productos.IProductos" name="BasicHttpBinding_IProductos" />
        </client>
    </system.serviceModel>
</configuration>